@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alef", sans-serif;
}

:root {
    --lal:#06070d;
    --lol: #161a1f;
    --lul: #29303a;
    --bg-blue: #0b041a;
    --bg-softblue: #10072a;
    --bg-very-softblue: #1e143e;
    --text-white: #fafafa;
    --button-purple: #411d79;
    --button-hover-purple: #55279f;
    --button-mag: #9f057b;
    --button-hover-mag: #c40798;

}

.row>*{
    padding: 0;
}

.row{
    margin-left: 0;
}

//TITLE
.title{
    min-height: 15vh;
    max-height: 20vh;
    background-color: var(--bg-softblue);
    display: flex;
    align-items: center;
}


//BUTTONS
button {
    background-color: var(--button-purple) !important;
    border-color: var(--button-purple) !important;
    color: var(--text-white) !important;
    margin: 1.5rem 0;
}

button:hover {
    background-color: var(--button-hover-purple) !important;
    border-color: var(--button-hover-purple) !important;
}

//INPUTS
input {
    background-color: var(--bg-very-softblue) !important;
    border-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    
}

input:focus {
    background-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    border-color: var(--bg-very-softblue) !important ;
    box-shadow: 0 0 0 0.15rem var(--button-hover-purple) !important;
    
}

.form-check-input:checked{
    background-color: var(--button-hover-purple) !important;
    border-color: var(--button-mag) !important;
    box-shadow: none !important;
}

//TEXTAREA
textarea {
    background-color: var(--bg-very-softblue) !important;
    border-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
}

textarea:focus {
    background-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    border-color: var(--bg-very-softblue) !important ;
    box-shadow: 0 0 0 0.15rem var(--button-hover-purple) !important;
}

//SELECT
select {
    background-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    border-color: var(--bg-very-softblue) !important ;
    box-shadow: 0 0 0 0.1rem var(--button-hover-purple) !important;
}

select:focus{
    box-shadow: none !important;
    background-color: var(--button-hover-purple) !important; 
}

//AUTH CARDS
.card {
    background-color: var(--bg-softblue);
    color: var(--text-white);
    /*height: 400px;*/

    

    & a {
        color: var(--button-mag);
    }

    & a:hover{
        color: var(--text-white);
    }

    & .form-check-input:checked{
        background-color: var(--button-hover-purple);
        border-color: var(--button-hover-purple);
    }

}